:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
body{
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: "Oswald", sans-serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
#cartbtn {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.4rem;
}
#cartbtn :hover {
  color: palevioletred;
}
.ic {
  background: green;
  border-radius: 1.5rem;
}
.nic {
  border-radius: 1.5rem;
  background: #c74d89e3;
}
.cart-btn {
  color: var(--mainWhite);
  font-size: 1.5rem;
  
  width: 100%;
}

button {
  background: none;
  border:none;
}
.btc {
  border-radius: 1.5rem;
  background: var(--lightBlue);
}
.nic:hover {
  background: green;
  cursor: pointer;
}

.paddit {
  padding-top: 7rem;
}
.btc:hover {
  background: var(--mainBlue);
  cursor: pointer;
}
.text-tit {
  font-family: "Oswald", sans-serif !important;
}

.fixed {
  z-index: 100;
  background: #fff;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  
}

.psdiv {
  height: 400px;
  background: #fff;
}
