:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#fff;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
body{
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: "Oswald", sans-serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.myflex {
  flex-grow: 1;
}
.myflex img {
  border-radius: 5px;
}
.myflexx {
  flex-grow: 2;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
}

.bbindx-a {
  background: palevioletred !important;
  border-top-left-radius: 0.9rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0.9rem !important;
  border-bottom-right-radius: 0 !important;
  border-right: 0 !important;
  height: 2rem;  
}
.bbindx-c {
  background: palevioletred  !important;
  border-top-right-radius: 0.9rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0.9rem !important;
  border-bottom-left-radius: 0 !important;
  border-left: 0 !important;
  height: 2rem;
}
.bbindx-b {
  background: #f3f3f3  !important;
  border-radius: 0 !important;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  /* border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important; */
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: #dc3545;
}
#cartbtn {
  background: transparent;
  border: none;
  outline: none;
  /* font-size: 1.4rem; */
}
#cartbtn :hover {
  color: palevioletred;
}
.payButton {
  color: #ffffff !important;
  font-size: 1.2rem;
}

/* .paddin {
  width: 100%;
  
} */

.ic {
  width: 60%;
  font-size: 0.8rem;
  background: green;
  border-radius: 1.5rem;
}
.nic {
  width: 60%;
  font-size: 0.8rem;
  border-radius: 1.5rem;
  background: #c74d89e3;
}
.cart-btn {
  color: var(--mainWhite);
  width: 100%;
}

button {
  background: none;
  border:none;
}
.btc {
  border-radius: 1.5rem;
  background: var(--lightBlue);
}
.nic:hover {
  background: green;
  cursor: pointer;
}

.carousel-item img {
  width: 360px;
  height:450px;
  max-height: 500px !important;
  max-width: 30%;
  margin: 0 auto;
}
.paddit {
  padding-top: 5rem;
}
.btc:hover {
  background: var(--mainBlue);
  cursor: pointer;
}
.text-tit {
  font-family: "Oswald", sans-serif !important;
}

.img-container {
  padding: .5rem;
}
.fixed {
  z-index: 100;
  background: #fff;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  
}
.card {
  margin-bottom: .7rem;
}
/* .col-12 {
  padding-left:0 !important;
  padding-right:0 !important;
} */
.ban {
 padding: 0 !important;
  background: #f3f3f3;
  
}
.carousel-item img {
  
  margin-left: 0 !important;
  margin-right: 0 !important;
  
  
}
.nav-item a {
  color: palevioletred !important;
}
/* .bbn {
  background-color: palevioletred !important;
} */
.psdiv {
  height: 400px;
  background: #fff;
}

.ebs-img {
  background-image: url(./photos/ceo-1.png);
}

.sbc, .bestsellers {
  margin-bottom: 1rem;
}

@media screen and (max-width:769px) {
  .main-menu, .bbn {
    display:none;
  }  
  .card-img-top {
    height:21rem;
  }
}

@media screen and (min-width:1000px) {

  .card-img-top {
    
    height: 220px !important;
    padding: 0 .5rem 0 .5rem !important;
  }
  .img-container {
    padding: .8rem;
  }
  .card {
    margin: 1rem auto !important;
    
    width: 100%;
    box-shadow: none !important;
  }
  .mdq-lg {
    margin-top: 0 !important;
    display: flex;
    justify-content: center;
    margin: 5px !important;
    padding: 0 !important;
  }
  .cart-btn {
    margin: 0 auto;
  }
  .flex-containerz {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    margin: 16px !important;
    justify-content: space-between !important;
  }
  .sbc {
    margin-top: 10%;
    margin-bottom: 1rem;
  }
}